// Override default variables before the import
$font-stack:    Helvetica, sans-serif;
$font-color:    #546e7a;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.header-title {
  color: $font-color;
  // font-family: $font-stack;
}

a.btn {
 margin-right: 4px;
}